<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom bg-light">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">África</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">América del Norte</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">América del Sur</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Asia</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Europa</a></li>
    </ul>

    <div class="col-md-2 text-end me-5">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Destino" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
    </div>
  </header>
